@import "../settings/variable";
@import "../tools/mixin";
/*
.header{
    background: url('../../img/bg-mobile.svg') #{$primaryColor} ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 2em;

    > h1{
        @include fonts(Poppins,700,2em);
        color: whitesmoke;
        text-align: center; 
    }
    >p{
        @include fonts(Open Sans,400,1em);
        color: whitesmoke;
        text-align: center; 
    }
}
.img_logo{
    > img{
        max-width: 10em;
        margin-top: 1em;
       
    }
}
.img_mock{
    > img{
        display: block;
        max-width: 25em;
        margin: 4em auto;
    }
}
.reg_btn{
    text-align: center;
    max-width: 15em;
    padding: 1em 2em;
    margin:auto;
    margin-top: 2em;
    background-color: whitesmoke;
    border-radius: 10em;
    border: none;
    color: #{$primaryColor};
    @include fonts(Poppins,400,1em);
} */
// @include respond-to(desktop){}

.contatiner{
    background: url('../../img/bg-mobile.svg') #{$primaryColor} ;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    @include respond-to(desktop){
        background: url('../../img/bg-desktop.svg') #{$primaryColor};
    }
}
.inner_container{
    padding: 2em 4em 2em 4em ;
}
.logo{
    &_img{
        max-width: 50%;
        margin: 1em auto 2em 0;
        
    }
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    @include respond-to(desktop){
        flex-direction: row;
        align-items: flex-start;
    }

    &_img{
        max-width: 100%;
        @include respond-to(desktop){
            width: 70%;
            margin: 2em 8em 3em 0 ;
        }
    }
    &_title{
        @include fonts('Poppins',700,2em);
        color: whitesmoke;
        padding-top: 2em;
        text-align: center;
        @include respond-to(desktop){
            text-align: left;
        }
    }
    &_content{
        @include fonts('Open Sans',400,1em);
        color: whitesmoke;
        text-align: center;
        @include respond-to(desktop){
            text-align: left;
        }
    }
    &_btn{
        display: block;
        border: none;
        border-radius: 10em; 
        width: 15em;
        height: 3em;
        color: #{$primaryColor};
        margin: 2em auto;
        -webkit-box-shadow: 9px 12px 30px -21px rgba(0,0,0,0.82);
        -moz-box-shadow: 9px 12px 30px -21px rgba(0,0,0,0.82);
        box-shadow: 9px 12px 30px -21px rgba(0,0,0,0.82);
        transition: .5s ;
        &:hover{
            transition: .5s ;
            background-color: #c54fa7;  
            color: whitesmoke;
          
        }
        @include respond-to(desktop){
            margin: 2em auto 2em 0 ;
            width: 12em;
        }
        
    }
    &_icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 7em;
        margin-top: 2em;
        color: whitesmoke;
        font-size: 1em;
        
        @include respond-to(desktop){
            align-self: flex-end;
            margin: 0 2em 2em 0;
        }
        > i{
            border: 1px solid whitesmoke;
            border-radius: 100%;
            padding: .5em; 
            transition: .5s ;
        &:hover{
            transition: .5s ;
            background-color: #c54fa7;  
            color: whitesmoke;
        }
        }
    }
}